<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AC_Sale</key>
	<string>二手動漫商品交易</string>
	<key>Accounting</key>
	<string>會計板</string>
	<key>Actuary</key>
	<string>精打細算板</string>
	<key>AllTogether</key>
	<string>歐兔板</string>
	<key>AnimalGoods</key>
	<string>寵物用品板</string>
	<key>Anti-ramp</key>
	<string>黑店板</string>
	<key>AntiVirus</key>
	<string>防毒板</string>
	<key>Aquarium</key>
	<string>水族板</string>
	<key>Aromatherapy</key>
	<string>芳療板</string>
	<key>AskBoard</key>
	<string>找板</string>
	<key>BabyMother</key>
	<string>幼兒與母親</string>
	<key>Bank_Service</key>
	<string>銀行服務板</string>
	<key>Beauty</key>
	<string>表特板</string>
	<key>BeautyBody</key>
	<string>美體板</string>
	<key>BeautySalon</key>
	<string>美保板</string>
	<key>BikerShop</key>
	<string>機車買賣</string>
	<key>Boy-Girl</key>
	<string>男女板</string>
	<key>Brand</key>
	<string>名牌板</string>
	<key>Browsers</key>
	<string>瀏覽器</string>
	<key>BuyTogether</key>
	<string>合購</string>
	<key>CMWang</key>
	<string>王建民板</string>
	<key>CVS</key>
	<string>超商板</string>
	<key>C_Chat</key>
	<string>西洽板</string>
	<key>Cad_Cae</key>
	<string>電腦輔助設計</string>
	<key>China-Drama</key>
	<string>陸劇板</string>
	<key>Clothes</key>
	<string>二手衣物</string>
	<key>ComicHouse</key>
	<string>徵/售漫畫書</string>
	<key>CompBook</key>
	<string>電腦用書</string>
	<key>DC</key>
	<string>數位相機板</string>
	<key>DPP</key>
	<string>吱吱板</string>
	<key>DSLR</key>
	<string>數位單眼相機買賣</string>
	<key>DV</key>
	<string>DV數位攝影機</string>
	<key>Drama-Ticket</key>
	<string>票卷板</string>
	<key>EZsoft</key>
	<string>小軟體</string>
	<key>EatToDie</key>
	<string>吃到飽</string>
	<key>Education</key>
	<string>教育板</string>
	<key>Examination</key>
	<string>國考板</string>
	<key>FITNESS</key>
	<string>體適能板</string>
	<key>FamilyCircle</key>
	<string>和樂家庭板</string>
	<key>Finance</key>
	<string>金融業</string>
	<key>Food</key>
	<string>美食板</string>
	<key>Free_box</key>
	<string>免空板</string>
	<key>Fund</key>
	<string>基金板</string>
	<key>GEPT</key>
	<string>全民英檢</string>
	<key>Gamesale</key>
	<string>二手遊戲買賣</string>
	<key>GetMarry</key>
	<string>結婚</string>
	<key>GoodShop</key>
	<string>好店板</string>
	<key>Gossiping</key>
	<string>八卦板</string>
	<key>HK-drama</key>
	<string>港劇板</string>
	<key>HandMade</key>
	<string>手做板</string>
	<key>HardwareSale</key>
	<string>二手硬體買賣</string>
	<key>Hate</key>
	<string>黑特板</string>
	<key>HelpBuy</key>
	<string>代買板</string>
	<key>IELTS</key>
	<string>雅思板</string>
	<key>Instant_Mess</key>
	<string>即時通訊板</string>
	<key>Insurance</key>
	<string>保險板</string>
	<key>Japandrama</key>
	<string>日劇板</string>
	<key>Jeans</key>
	<string>牛仔褲板</string>
	<key>KMT</key>
	<string>蛆蛆板</string>
	<key>Key_Mou_Pad</key>
	<string>鍵鼠板</string>
	<key>KoreaDrama</key>
	<string>韓劇板</string>
	<key>L_BeautyCare</key>
	<string>美容保養坊組務板</string>
	<key>License</key>
	<string>證照板</string>
	<key>LicenseShop</key>
	<string>證照書籍買賣</string>
	<key>Lifeismoney</key>
	<string>省錢板</string>
	<key>LightNovel</key>
	<string>輕小說二手買賣</string>
	<key>Little-Games</key>
	<string>小遊戲</string>
	<key>LivingGoods</key>
	<string>生活精品板</string>
	<key>Loan</key>
	<string>貸款、現金卡</string>
	<key>Lomo</key>
	<string>Lomo相機問題</string>
	<key>Lottery</key>
	<string>彩券板</string>
	<key>MJ</key>
	<string>麻將板</string>
	<key>MacShop</key>
	<string>蘋果家族物品買賣</string>
	<key>MakeUp</key>
	<string>美妝板</string>
	<key>Mancare</key>
	<string>男性保養時尚板</string>
	<key>MenTalk</key>
	<string>男人聊天板</string>
	<key>Mind</key>
	<string>心理測驗</string>
	<key>Mix_Match</key>
	<string>街搭</string>
	<key>MuscleBeach</key>
	<string>健身板</string>
	<key>Music-Sell</key>
	<string>音樂買賣</string>
	<key>NailSalon</key>
	<string>指甲彩繪</string>
	<key>NightLife</key>
	<string>夜店板</string>
	<key>ONE_PIECE</key>
	<string>海賊王板</string>
	<key>Office</key>
	<string>OFFICE</string>
	<key>Old-Games</key>
	<string>老遊戲</string>
	<key>Option</key>
	<string>期貨與選擇權</string>
	<key>P2PSoftWare</key>
	<string>P2P板</string>
	<key>PC_Shopping</key>
	<string>電蝦板</string>
	<key>Palmar_Drama</key>
	<string>布袋戲劇板</string>
	<key>Perfume</key>
	<string>香水板</string>
	<key>PhotoCritic</key>
	<string>相片批評板</string>
	<key>PhotoLink</key>
	<string>網路相簿板</string>
	<key>Plant</key>
	<string>圃戀板</string>
	<key>PttEarnMoney</key>
	<string>額板</string>
	<key>PttLifeLaw</key>
	<string>生活法律板</string>
	<key>Q_ary</key>
	<string>問卷板</string>
	<key>RIPE_gender</key>
	<string>熟板</string>
	<key>Railway</key>
	<string>鐵道板</string>
	<key>Rent_apart</key>
	<string>租屋</string>
	<key>SportLottery</key>
	<string>運彩板</string>
	<key>SportsShop</key>
	<string>二手運動用品</string>
	<key>Stock</key>
	<string>股票板</string>
	<key>Storage_Zone</key>
	<string>硬碟板</string>
	<key>StupidClown</key>
	<string>笨板</string>
	<key>TOEFL_iBT</key>
	<string>托福考試板</string>
	<key>TOEIC</key>
	<string>多益</string>
	<key>TaiwanDrama</key>
	<string>台劇板</string>
	<key>Teacher</key>
	<string>教師板</string>
	<key>Test</key>
	<string>測試板</string>
	<key>Wanted</key>
	<string>汪踢板</string>
	<key>WomenTalk</key>
	<string>女人聊天板</string>
	<key>WoodworkDIY</key>
	<string>木工DIY板</string>
	<key>aqua-shop</key>
	<string>水族買賣</string>
	<key>ask</key>
	<string>問板</string>
	<key>barterbooks</key>
	<string>二手書</string>
	<key>bicycle</key>
	<string>單車、腳踏車</string>
	<key>biker</key>
	<string>摩托車板</string>
	<key>car</key>
	<string>車板</string>
	<key>cat</key>
	<string>貓板</string>
	<key>cohabitation</key>
	<string>同居板</string>
	<key>cookclub</key>
	<string>料理板</string>
	<key>creditcard</key>
	<string>信用卡板</string>
	<key>dog</key>
	<string>狗板</string>
	<key>e-shopping</key>
	<string>網購板</string>
	<key>egg-exchange</key>
	<string>扭蛋交易</string>
	<key>facelift</key>
	<string>醫美板</string>
	<key>fastfood</key>
	<string>速食板</string>
	<key>feminine_sex</key>
	<string>法西斯板</string>
	<key>first-wife</key>
	<string>大老婆板</string>
	<key>forsale</key>
	<string>綜合二手交易</string>
	<key>gardener</key>
	<string>幼教板</string>
	<key>give</key>
	<string>贈送板</string>
	<key>graduate</key>
	<string>研究所板</string>
	<key>guitar</key>
	<string>吉他板</string>
	<key>hairdo</key>
	<string>美髮板</string>
	<key>home-sale</key>
	<string>房屋、不動產買賣</string>
	<key>homemaker</key>
	<string>家務管理</string>
	<key>hypermall</key>
	<string>大賣場</string>
	<key>japanavgirls</key>
	<string>AV女優板</string>
	<key>joke</key>
	<string>就可板</string>
	<key>joyinDIY</key>
	<string>DIY美妝保養</string>
	<key>marriage</key>
	<string>媳婦板</string>
	<key>marvel</key>
	<string>飄板</string>
	<key>memento</key>
	<string>紀念品</string>
	<key>mobilesales</key>
	<string>手機拍賣</string>
	<key>model</key>
	<string>模型板</string>
	<key>movie</key>
	<string>電影板</string>
	<key>multi-lovers</key>
	<string>第二者板</string>
	<key>nb-shopping</key>
	<string>筆電蝦板</string>
	<key>pay_home</key>
	<string>家務板</string>
	<key>photo-buy</key>
	<string>傳統攝影買賣</string>
	<key>rabbit</key>
	<string>兔子板</string>
	<key>rent-exp</key>
	<string>租屋經驗板</string>
	<key>sex</key>
	<string>西斯板</string>
	<key>share</key>
	<string>雪兒板</string>
	<key>sp_teacher</key>
	<string>特教老師</string>
	<key>studyteacher</key>
	<string>實習老師</string>
	<key>talk</key>
	<string>偷可板</string>
	<key>tax</key>
	<string>稅板</string>
	<key>teaching</key>
	<string>教材板</string>
	<key>teeth_salon</key>
	<string>牙齒美容保健</string>
	<key>textbook</key>
	<string>教科書買賣</string>
	<key>third-person</key>
	<string>外遇板</string>
	<key>underwear</key>
	<string>內衣板</string>
</dict>
</plist>
